<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Petlar Project</title>
</head>
<body>
    <header th:replace="partials/header.html :: header"></header>
    <hr>
    <section>
        <h1>Home page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae culpa debitis dolore dolorem doloribus eius eum excepturi facere incidunt ipsam, molestiae nam non quibusdam quis rem rerum temporibus vel!</p>
    </section>
</body>
</html>